<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Galaxy</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>
<body>

  <header>
    <img src="../logo.png" alt="Logo do GameGalaxy"  style="width: 200px; height: auto;">
  </header>

  <nav>
    <a href="/">Home</a>
    <a href="/catalog">Catálogo</a>
    <a href="/users">Usuários</a>
    <a href="/login">Login</a>
    <a href="/user-register">Cadastro</a>
  </nav>

 
  <%- include(body) %>

</body>
</html>
